<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Dear Days!</title>
</head>
    <body>
        <section>
            <h1>Welcome to Dear Days!</h1>

            <form action="/submit" method="POST">
                <h4>Who are you fighting today?</h4>
                <br>

                <!-- random opponent -->
               <% if (locals.RandomFighter) { %>
                    <h2>YOU'RE FIGHTING:</h2> <%= RandomFighter %> 
                <% } else { %>
                <label for="random-fight-btn">
                    <input type="submit" id="random-fight-btn" value="Random Opponent">
                </label>
                <% } %>
            </form>
        </section>
    </body>
</html>
