<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Dear Days!</title>
</head>
    <body>
        <section>
            <h1>Welcome to Dear Days!</h1>

            <form action="/random" method="GET">
                <h4>Who are you fighting today?</h4>
                <br>
                <!-- random opponent -->
               <% if (locals.RandomFighter) { %>
                    <h2>YOU'RE FIGHTING:</h2> 
                    <%= RandomFighter %> 
                    <br>
                <% } else { %>
                    <label for="random-opponent">
                        <input type="submit" id="random-opponent" value="Random Opponent">
                    </label>
                <% } %>
            </form>
            <br />
            <br />
            <form action="/return" method="GET">
                <label for="return-home"><input type="submit" id="return-home" value="Return to Home"></label>
            </form>
        </section>
    </body>
</html>
