<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Dear Days!</title>
</head>
    <body>
        <section>
            <h1>Welcome to Dear Days!</h1>

            <form action="/random" method="GET">
                <h4>Who are you fighting today?</h4>

            <br /><br />
            
            <!-- random opponent -->
                <% if (locals.RandomFighter && locals.RandomLevel) { %>
                    <h2>YOUR OPPONENT FOR THIS CARD FIGHT:</h2> 
                    <h3>
                        <%= RandomFighter %> 
                    </h3>

                    <h2>FIGHTER DIFFICULTY:</h2> 
                    <h3>
                        <%= RandomLevel %> 
                    </h3>
                <% } %>
            </form>

            <br /> <br />

                 <!-- return home button -->
                 <label for="home-btn">
                    <button id="home-btn" >Return to Home Page</button>
                </label>

        </section>
        <script src="index.js"></script>
    </body>
</html>
